/*This is the style sheet */
body {
  background-color: lightyellow;
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
}

#title {
  margin-top: 20%;
  font-size: 50pt;
  text-align: center;
  width: 100%;
}

#menu {
  text-align: center;
  margin-top: 5%;
  font-size: 20pt;
  width: 100%;
  
}

#menu a {
  text-decoration: none;
  color: black;
  margin: 50px;
  padding: 2px;
}

#menu a:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
}

#album_header {
  font-size: 50pt;
  text-align: center;
  width: 100%;
}

#container {
	margin: 0px 10%;
	width: 80%;
}

#container td {
	width: 20%;
}
	

.item {
	margin: 10%;
	padding: 10px;
	width: 80%;
	border: solid black 2px;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	box-sizing: border-box;
	cursor: pointer;
}

.item:hover {
	border: solid black 3px;
}

.item img {
	width: 90%;
	display: inline;
}

a {
	text-decoration: none;
	color: black;
}

/*This is the style for form.html */

#buttons {
	margin: 0px 30%;	
}

.btn {
	margin: 5%;
	position: inline;
	width: 100%;
	padding: 10px;
	font-size:14pt;
}

.btn:hover {
	border: 3px outset buttonface;
}

