/*This is the style sheet */
body {
  background-color: lightyellow;
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
}

#title {
  margin-top: 20%;
  font-size: 50pt;
  text-align: center;
  width: 100%;
}

#menu {
  text-align: center;
  margin-top: 5%;
  font-size: 20pt;
  width: 100%;
  
}

#menu a {
  text-decoration: none;
  color: black;
  margin: 50px;
  padding: 2px;
}

#menu a:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
}

#album_header {
	text-align: center;
	font-size: 30pt;
	margin-bottom: 5%;
}
